.env
.env.*
.venv

.pytest_cache
.python-version
__pycache__
.coverage
coverage/

.DS_Store

# Documentation build
.docs/
site/

*.egg-info
dist/
build/

# Git hooks (managed by Nix)
.pre-commit-config.yaml
