[default]
locale = 'en-us'
extend-ignore-re = [
  "(?s)(#|//)\\s*spellchecker:off[\\s\\S]*?(#|//)\\s*spellchecker:on",
  "(?s)<!--\\s*spellchecker:off\\s*-->[\\s\\S]*?<!--\\s*spellchecker:on\\s*-->",
  "(?Rm)^.*#\\s*spellchecker:disable-line$",
  "(?m)^.*<!--\\s*spellchecker:disable-line\\s*-->\\n.*$",
]

[files]
ignore-hidden = false
extend-exclude = [
  ".git",
  ".venv",
  "uv.lock",
  "CHANGELOG.md",
]
